.r-none {
  border-radius: 0px !important;
}

.r-sm.et_pb_image_wrap,
.r-sm img,
.r-sm.et_pb_button,
.r-sm.et_pb_image,
.r-sm.et_pb_video,
.r-sm.et_pb_row,
.r-sm.et_pb_blurb,
.r-sm.et_pb_column {
  border-radius: 0.25rem !important;
}

.r-md.et_pb_image_wrap,
.r-md img,
.r-md.et_pb_button,
.r-md.et_pb_image,
.r-md.et_pb_video,
.r-md.et_pb_row,
.r-md.et_pb_blurb,
.r-md.et_pb_column {
  border-radius: 0.375rem !important;
}

.r-lg.et_pb_image_wrap,
.r-lg img,
.r-lg.et_pb_button,
.r-lg.et_pb_image,
.r-lg.et_pb_video,
.r-lg.et_pb_row,
.r-lg.et_pb_blurb,
.r-lg.et_pb_column {
  border-radius: 0.5rem !important;
}

.r-xl.et_pb_image_wrap,
.r-xl img,
.r-xl.et_pb_button,
.r-xl.et_pb_image,
.r-xl.et_pb_video,
.r-xl.et_pb_row,
.r-xl.et_pb_blurb,
.r-xl.et_pb_column {
  border-radius: 0.75rem !important;
}

.r-2xl.et_pb_image_wrap,
.r-2xl img,
.r-2xl.et_pb_button,
.r-2xl.et_pb_image,
.r-2xl.et_pb_video,
.r-2xl.et_pb_row,
.r-2xl.et_pb_blurb,
.r-2xl.et_pb_column {
  border-radius: 0.95rem !important;
}

.r-3xl.et_pb_image_wrap,
.r-3xl img,
.r-3xl.et_pb_button,
.r-3xl.et_pb_image,
.r-3xl.et_pb_video,
.r-3xl.et_pb_row,
.r-3xl.et_pb_blurb,
.r-3xl.et_pb_column {
  border-radius: 1.2rem !important;
}
