.mn-h-10vh { min-height: 10vh !important; }
.mn-h-20vh { min-height: 20vh !important; }
.mn-h-30vh { min-height: 30vh !important; }
.mn-h-40vh { min-height: 40vh !important; }
.mn-h-50vh { min-height: 50vh !important; }
.mn-h-60vh { min-height: 60vh !important; }
.mn-h-70vh { min-height: 70vh !important; }
.mn-h-80vh { min-height: 80vh !important; }
.mn-h-90vh { min-height: 90vh !important; }
.mn-h-100vh { min-height: 100vh !important; }
