.mx-w-10 { max-width: 10px !important; }
.mx-w-20 { max-width: 20px !important; }
.mx-w-30 { max-width: 30px !important; }
.mx-w-40 { max-width: 40px !important; }
.mx-w-50 { max-width: 50px !important; }
.mx-w-60 { max-width: 60px !important; }
.mx-w-70 { max-width: 70px !important; }
.mx-w-80 { max-width: 80px !important; }
.mx-w-90 { max-width: 90px !important; }
.mx-w-100 { max-width: 100px !important; }
.mx-w-110 { max-width: 110px !important; }
.mx-w-120 { max-width: 120px !important; }
.mx-w-130 { max-width: 130px !important; }
.mx-w-140 { max-width: 140px !important; }
.mx-w-150 { max-width: 150px !important; }
.mx-w-160 { max-width: 160px !important; }
.mx-w-170 { max-width: 170px !important; }
.mx-w-180 { max-width: 180px !important; }
.mx-w-190 { max-width: 190px !important; }
.mx-w-200 { max-width: 200px !important; }
.mx-w-210 { max-width: 210px !important; }
.mx-w-220 { max-width: 220px !important; }
.mx-w-230 { max-width: 230px !important; }
.mx-w-240 { max-width: 240px !important; }
.mx-w-250 { max-width: 250px !important; }
.mx-w-260 { max-width: 260px !important; }
.mx-w-270 { max-width: 270px !important; }
.mx-w-280 { max-width: 280px !important; }
.mx-w-290 { max-width: 290px !important; }
.mx-w-300 { max-width: 300px !important; }
.mx-w-310 { max-width: 310px !important; }
.mx-w-320 { max-width: 320px !important; }
.mx-w-330 { max-width: 330px !important; }
.mx-w-340 { max-width: 340px !important; }
.mx-w-350 { max-width: 350px !important; }
.mx-w-360 { max-width: 360px !important; }
.mx-w-370 { max-width: 370px !important; }
.mx-w-380 { max-width: 380px !important; }
.mx-w-390 { max-width: 390px !important; }
.mx-w-400 { max-width: 400px !important; }
.mx-w-410 { max-width: 410px !important; }
.mx-w-420 { max-width: 420px !important; }
.mx-w-430 { max-width: 430px !important; }
.mx-w-440 { max-width: 440px !important; }
.mx-w-450 { max-width: 450px !important; }
.mx-w-460 { max-width: 460px !important; }
.mx-w-470 { max-width: 470px !important; }
.mx-w-480 { max-width: 480px !important; }
.mx-w-490 { max-width: 490px !important; }
.mx-w-500 { max-width: 500px !important; }
.mx-w-510 { max-width: 510px !important; }
.mx-w-520 { max-width: 520px !important; }
.mx-w-530 { max-width: 530px !important; }
.mx-w-540 { max-width: 540px !important; }
.mx-w-550 { max-width: 550px !important; }
.mx-w-560 { max-width: 560px !important; }
.mx-w-570 { max-width: 570px !important; }
.mx-w-580 { max-width: 580px !important; }
.mx-w-590 { max-width: 590px !important; }
.mx-w-600 { max-width: 600px !important; }
.mx-w-610 { max-width: 610px !important; }
.mx-w-620 { max-width: 620px !important; }
.mx-w-630 { max-width: 630px !important; }
.mx-w-640 { max-width: 640px !important; }
.mx-w-650 { max-width: 650px !important; }
.mx-w-660 { max-width: 660px !important; }
.mx-w-670 { max-width: 670px !important; }
.mx-w-680 { max-width: 680px !important; }
.mx-w-690 { max-width: 690px !important; }
.mx-w-700 { max-width: 700px !important; }
.mx-w-710 { max-width: 710px !important; }
.mx-w-720 { max-width: 720px !important; }
.mx-w-730 { max-width: 730px !important; }
.mx-w-740 { max-width: 740px !important; }
.mx-w-750 { max-width: 750px !important; }
.mx-w-760 { max-width: 760px !important; }
.mx-w-770 { max-width: 770px !important; }
.mx-w-780 { max-width: 780px !important; }
.mx-w-790 { max-width: 790px !important; }
.mx-w-800 { max-width: 800px !important; }
.mx-w-810 { max-width: 810px !important; }
.mx-w-820 { max-width: 820px !important; }
.mx-w-830 { max-width: 830px !important; }
.mx-w-840 { max-width: 840px !important; }
.mx-w-850 { max-width: 850px !important; }
.mx-w-860 { max-width: 860px !important; }
.mx-w-870 { max-width: 870px !important; }
.mx-w-880 { max-width: 880px !important; }
.mx-w-890 { max-width: 890px !important; }
.mx-w-900 { max-width: 900px !important; }
.mx-w-910 { max-width: 910px !important; }
.mx-w-920 { max-width: 920px !important; }
.mx-w-930 { max-width: 930px !important; }
.mx-w-940 { max-width: 940px !important; }
.mx-w-950 { max-width: 950px !important; }
.mx-w-960 { max-width: 960px !important; }
.mx-w-970 { max-width: 970px !important; }
.mx-w-980 { max-width: 980px !important; }
.mx-w-990 { max-width: 990px !important; }
.mx-w-1000 { max-width: 1000px !important; }
.mx-w-1010 { max-width: 1010px !important; }
.mx-w-1020 { max-width: 1020px !important; }
.mx-w-1030 { max-width: 1030px !important; }
.mx-w-1040 { max-width: 1040px !important; }
.mx-w-1050 { max-width: 1050px !important; }
.mx-w-1060 { max-width: 1060px !important; }
.mx-w-1070 { max-width: 1070px !important; }
.mx-w-1080 { max-width: 1080px !important; }
.mx-w-1090 { max-width: 1090px !important; }
.mx-w-1100 { max-width: 1100px !important; }
.mx-w-1110 { max-width: 1110px !important; }
.mx-w-1120 { max-width: 1120px !important; }
.mx-w-1130 { max-width: 1130px !important; }
.mx-w-1140 { max-width: 1140px !important; }
.mx-w-1150 { max-width: 1150px !important; }
.mx-w-1160 { max-width: 1160px !important; }
.mx-w-1170 { max-width: 1170px !important; }
.mx-w-1180 { max-width: 1180px !important; }
.mx-w-1190 { max-width: 1190px !important; }
.mx-w-1200 { max-width: 1200px !important; }
