.max-w-10 {
  max-width: 10px !important;
}
.max-w-20 {
  max-width: 20px !important;
}
.max-w-30 {
  max-width: 30px !important;
}
.max-w-40 {
  max-width: 40px !important;
}
.max-w-50 {
  max-width: 50px !important;
}
.max-w-60 {
  max-width: 60px !important;
}
.max-w-70 {
  max-width: 70px !important;
}
.max-w-80 {
  max-width: 80px !important;
}
.max-w-90 {
  max-width: 90px !important;
}
.max-w-100 {
  max-width: 100px !important;
}
.max-w-110 {
  max-width: 110px !important;
}
.max-w-120 {
  max-width: 120px !important;
}
.max-w-130 {
  max-width: 130px !important;
}
.max-w-140 {
  max-width: 140px !important;
}
.max-w-150 {
  max-width: 150px !important;
}
.max-w-160 {
  max-width: 160px !important;
}
.max-w-170 {
  max-width: 170px !important;
}
.max-w-180 {
  max-width: 180px !important;
}
.max-w-190 {
  max-width: 190px !important;
}
.max-w-200 {
  max-width: 200px !important;
}
.max-w-210 {
  max-width: 210px !important;
}
.max-w-220 {
  max-width: 220px !important;
}
.max-w-230 {
  max-width: 230px !important;
}
.max-w-240 {
  max-width: 240px !important;
}
.max-w-250 {
  max-width: 250px !important;
}
.max-w-260 {
  max-width: 260px !important;
}
.max-w-270 {
  max-width: 270px !important;
}
.max-w-280 {
  max-width: 280px !important;
}
.max-w-290 {
  max-width: 290px !important;
}
.max-w-300 {
  max-width: 300px !important;
}
.max-w-310 {
  max-width: 310px !important;
}
.max-w-320 {
  max-width: 320px !important;
}
.max-w-330 {
  max-width: 330px !important;
}
.max-w-340 {
  max-width: 340px !important;
}
.max-w-350 {
  max-width: 350px !important;
}
.max-w-360 {
  max-width: 360px !important;
}
.max-w-370 {
  max-width: 370px !important;
}
.max-w-380 {
  max-width: 380px !important;
}
.max-w-390 {
  max-width: 390px !important;
}
.max-w-400 {
  max-width: 400px !important;
}
.max-w-410 {
  max-width: 410px !important;
}
.max-w-420 {
  max-width: 420px !important;
}
.max-w-430 {
  max-width: 430px !important;
}
.max-w-440 {
  max-width: 440px !important;
}
.max-w-450 {
  max-width: 450px !important;
}
.max-w-460 {
  max-width: 460px !important;
}
.max-w-470 {
  max-width: 470px !important;
}
.max-w-480 {
  max-width: 480px !important;
}
.max-w-490 {
  max-width: 490px !important;
}
.max-w-500 {
  max-width: 500px !important;
}
.max-w-510 {
  max-width: 510px !important;
}
.max-w-520 {
  max-width: 520px !important;
}
.max-w-530 {
  max-width: 530px !important;
}
.max-w-540 {
  max-width: 540px !important;
}
.max-w-550 {
  max-width: 550px !important;
}
.max-w-560 {
  max-width: 560px !important;
}
.max-w-570 {
  max-width: 570px !important;
}
.max-w-580 {
  max-width: 580px !important;
}
.max-w-590 {
  max-width: 590px !important;
}
.max-w-600 {
  max-width: 600px !important;
}
.max-w-610 {
  max-width: 610px !important;
}
.max-w-620 {
  max-width: 620px !important;
}
.max-w-630 {
  max-width: 630px !important;
}
.max-w-640 {
  max-width: 640px !important;
}
.max-w-650 {
  max-width: 650px !important;
}
.max-w-660 {
  max-width: 660px !important;
}
.max-w-670 {
  max-width: 670px !important;
}
.max-w-680 {
  max-width: 680px !important;
}
.max-w-690 {
  max-width: 690px !important;
}
.max-w-700 {
  max-width: 700px !important;
}
.max-w-710 {
  max-width: 710px !important;
}
.max-w-720 {
  max-width: 720px !important;
}
.max-w-730 {
  max-width: 730px !important;
}
.max-w-740 {
  max-width: 740px !important;
}
.max-w-750 {
  max-width: 750px !important;
}
.max-w-760 {
  max-width: 760px !important;
}
.max-w-770 {
  max-width: 770px !important;
}
.max-w-780 {
  max-width: 780px !important;
}
.max-w-790 {
  max-width: 790px !important;
}
.max-w-800 {
  max-width: 800px !important;
}
.max-w-810 {
  max-width: 810px !important;
}
.max-w-820 {
  max-width: 820px !important;
}
.max-w-830 {
  max-width: 830px !important;
}
.max-w-840 {
  max-width: 840px !important;
}
.max-w-850 {
  max-width: 850px !important;
}
.max-w-860 {
  max-width: 860px !important;
}
.max-w-870 {
  max-width: 870px !important;
}
.max-w-880 {
  max-width: 880px !important;
}
.max-w-890 {
  max-width: 890px !important;
}
.max-w-900 {
  max-width: 900px !important;
}
.max-w-910 {
  max-width: 910px !important;
}
.max-w-920 {
  max-width: 920px !important;
}
.max-w-930 {
  max-width: 930px !important;
}
.max-w-940 {
  max-width: 940px !important;
}
.max-w-950 {
  max-width: 950px !important;
}
.max-w-960 {
  max-width: 960px !important;
}
.max-w-970 {
  max-width: 970px !important;
}
.max-w-980 {
  max-width: 980px !important;
}
.max-w-990 {
  max-width: 990px !important;
}
.max-w-1000 {
  max-width: 1000px !important;
}
.max-w-1010 {
  max-width: 1010px !important;
}
.max-w-1020 {
  max-width: 1020px !important;
}
.max-w-1030 {
  max-width: 1030px !important;
}
.max-w-1040 {
  max-width: 1040px !important;
}
.max-w-1050 {
  max-width: 1050px !important;
}
.max-w-1060 {
  max-width: 1060px !important;
}
.max-w-1070 {
  max-width: 1070px !important;
}
.max-w-1080 {
  max-width: 1080px !important;
}
.max-w-1090 {
  max-width: 1090px !important;
}
.max-w-1100 {
  max-width: 1100px !important;
}
.max-w-1110 {
  max-width: 1110px !important;
}
.max-w-1120 {
  max-width: 1120px !important;
}
.max-w-1130 {
  max-width: 1130px !important;
}
.max-w-1140 {
  max-width: 1140px !important;
}
.max-w-1150 {
  max-width: 1150px !important;
}
.max-w-1160 {
  max-width: 1160px !important;
}
.max-w-1170 {
  max-width: 1170px !important;
}
.max-w-1180 {
  max-width: 1180px !important;
}
.max-w-1190 {
  max-width: 1190px !important;
}
.max-w-1200 {
  max-width: 1200px !important;
}
