.f.et_pb_row,
.f.et_pb_column,
.f.et_pb_section {
  display: flex;
}

.f-col.et_pb_row,
.f-col.et_pb_column,
.f-col.et_pb_section {
  flex-direction: column;
}

.f-col-rev.et_pb_row,
.f-col-rev.et_pb_column,
.f-col-rev.et_pb_section {
  flex-direction: column-reverse;
}

.it-ct.et_pb_row,
.it-ct.et_pb_column,
.it-ct.et_pb_section {
  align-items: center;
}

/* Mobile Classes */
@media only screen and (max-width: 767px) {
  .mb-f.et_pb_row {
    display: flex;
  }
  .mb-f-col.et_pb_row {
    flex-direction: column;
  }
  .mb-f-col-rev.et_pb_row {
    flex-direction: column-reverse;
  }
}

/* Tablet Classes */
@media only screen and (max-width: 980px) {
  .tb-f.et_pb_row {
    display: flex;
  }
  .tb-f-col.et_pb_row {
    flex-direction: column;
  }
  .tb-f-col-rev.et_pb_row {
    flex-direction: column-reverse;
  }
}

/* gap spacing */

.gap-space-none .et_pb_column {
  margin: 0 !important;
}

.gap-space-xs .et_pb_column {
  margin-right: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem) !important;
}

/* Add Flex Alignment Classes */
