/* Inline Buttons */

.btn-inline .et_pb_button_module_wrapper {
  display: inline-block;
}

/* has to be applied to row settings that the button lives on and not the button themselves */

.btn-center {
  text-align: center !important;
}

.btn-right {
  text-align: right;
  /* align-items: right; */
  /* margin-left: 0 !important;
  margin-right: auto !important; */
}

/* Mobile Screen Width Wide */

@media only screen and (max-width: 1200px) {
  #top-header > .container,
  #main-header > .container,
  #et_search_outer > .container,
  body.single #main-content > .container,
  body.page:not(.et-tb-has-template) div.et_pb_row,
  body.page.et-tb-has-template .et-l--post div.et_pb_row,
  body.single-project div.et_pb_row,
  body.single-project div.et_pb_row.et_pb_row_fullwidth,
  .et_pb_pagebuilder_layout.single-post:not(.et-tb-has-body)
    #main-content
    .et_pb_row {
    width: 95% !important;
  }
}

/* Equalize Column Heights */

.et_pb_equal_columns > .et_pb_column {
  margin-top: auto;
  margin-bottom: auto;
}

/* Content */
/* 
Works: Headings / Paragraphs / Images
Doesn't Work: Buttons
*/

.et_pb_module.center,
.center .et_pb_module_header,
.center .et_pb_blurb_description {
  text-align: center !important;
  align-items: center;
  margin-right: auto !important;
  margin-left: auto !important;
}

.et_pb_module.right,
.right .et_pb_module_header,
.right .et_pb_blurb_description {
  text-align: right;
  align-items: right;
  margin-left: 0 !important;
  margin-right: auto !important;
}

.et_pb_module.left {
  text-align: left;
  align-items: left;
  margin-left: auto !important;
  margin-right: 0 !important;
}

.et_pb_module.justify {
  text-align: justify;
  align-items: justify;
}

/* Center Rules Tablet & Mobile */

/* Mobile Classes */

@media only screen and (max-width: 767px) {
  /* Add your mobile-specific styles here */
  .et_pb_module.mobile-center {
    text-align: center !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media only screen and (max-width: 767px) {
  /* Add your mobile-specific styles here */
  .et_pb_module.mobile-right {
    text-align: right;
    align-items: right;
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}

@media only screen and (max-width: 767px) {
  /* Add your mobile-specific styles here */
  .et_pb_module.mobile-left {
    text-align: left;
    align-items: left;
    margin-left: auto !important;
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  /* Add your mobile-specific styles here */
  .et_pb_module.mobile-justify {
    text-align: justify;
    align-items: justify;
  }
}

/* Tablet Classes */

@media only screen and (max-width: 980px) {
  /* Add your tablet-specific styles here */
  .et_pb_module.tablet-center {
    text-align: center !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media only screen and (max-width: 980px) {
  /* Add your mobile-specific styles here */
  .et_pb_module.tablet-right {
    text-align: right;
    align-items: right;
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}

@media only screen and (max-width: 980px) {
  /* Add your mobile-specific styles here */
  .et_pb_module.tablet-left {
    text-align: left;
    align-items: left;
    margin-left: auto !important;
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 980px) {
  /* Add your mobile-specific styles here */
  .et_pb_module.tablet-justify {
    text-align: justify;
    align-items: justify;
  }
}

/* Flexbox */

.flex .et_pb_column {
  display: flex !important;
}

.justify-center {
  justify-content: center !important;
}

.align-center {
  align-items: center !important;
}

/* gap spacing */

.gap-space-none .et_pb_column {
  margin: 0 !important;
}

.gap-space-xs .et_pb_column {
  margin-right: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem) !important;
}
