/* Mobile Screen Width Wide */

@media only screen and (max-width: 1500px) {
  #top-header > .container,
  #main-header > .container,
  #et_search_outer > .container,
  body.single #main-content > .container,
  body.page:not(.et-tb-has-template) div.et_pb_row,
  body.page.et-tb-has-template .et-l--post div.et_pb_row,
  body.single-project div.et_pb_row,
  body.single-project div.et_pb_row.et_pb_row_fullwidth,
  .et_pb_pagebuilder_layout.single-post:not(.et-tb-has-body)
    #main-content
    .et_pb_row {
    width: 90% !important;
  }
}

/* Equalize Column Heights */

.et_pb_equal_columns > .et_pb_column {
  margin-top: auto;
  margin-bottom: auto;
}

/* Content */
/* 
Works: Headings / Paragraphs / Images
Doesn't Work: Buttons
*/

.et_pb_module.ct,
.ct .et_pb_module_header,
.ct .et_pb_blurb_description {
  text-align: center !important;
  align-items: center;
  margin-right: auto !important;
  margin-left: auto !important;
}

.et_pb_module.rt,
.rt .et_pb_module_header,
.rt .et_pb_blurb_description {
  text-align: right;
  align-items: right;
  margin-left: 0 !important;
  margin-right: auto !important;
}

.et_pb_module.lt {
  text-align: left;
  align-items: left;
  margin-left: auto !important;
  margin-right: 0 !important;
}

.et_pb_module.jt {
  text-align: justify;
  align-items: justify;
}

/* Existing Mobile Classes */
@media only screen and (max-width: 767px) {
  .et_pb_module.mb-ct {
    text-align: center !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .et_pb_module.mb-rt {
    text-align: right;
    margin-left: 0 !important;
    margin-right: auto !important;
  }
  .et_pb_module.mb-lt {
    text-align: left;
    margin-left: auto !important;
    margin-right: 0 !important;
  }
  .et_pb_module.mb-jt {
    text-align: justify;
  }
}

/* Existing Tablet Classes */
@media only screen and (max-width: 980px) {
  .et_pb_module.tb-ct {
    text-align: center !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .et_pb_module.tb-rt {
    text-align: right;
    margin-left: 0 !important;
    margin-right: auto !important;
  }
  .et_pb_module.tb-lt {
    text-align: left;
    margin-left: auto !important;
    margin-right: 0 !important;
  }
  .et_pb_module.tb-jt {
    text-align: justify;
  }
}
