/* General Margin */

h1.m-none,
h2.m-none,
h3.m-none,
h4.m-none,
h5.m-none,
h6.m-none,
p.m-none,
.m-none.et_pb_button,
.m-none.et_pb_text,
.m-none.et_pb_row,
.m-none.et_pb_section,
.m-none.et_pb_column,
.m-none.et_pb_blurb,
.m-none.et_pb_image,
.m-none.et_pb_accordion_item,
.m-none.et_pb_audio_module_content,
.m-none.et_pb_module_header {
  margin: var(--spacing-none) !important;
}

h1.m-xs,
h2.m-xs,
h3.m-xs,
h4.m-xs,
h5.m-xs,
h6.m-xs,
p.m-xs,
.m-xs.et_pb_button,
.m-xs.et_pb_text,
.m-xs.et_pb_row,
.m-xs.et_pb_section,
.m-xs.et_pb_column,
.m-xs.et_pb_blurb,
.m-xs.et_pb_image,
.m-xs.et_pb_accordion_item,
.m-xs.et_pb_audio_module_content,
.m-xs.et_pb_module_header {
  margin: var(--spacing-xs) !important;
}

h1.m-sm,
h2.m-sm,
h3.m-sm,
h4.m-sm,
h5.m-sm,
h6.m-sm,
p.m-sm,
.m-sm.et_pb_button,
.m-sm.et_pb_text,
.m-sm.et_pb_row,
.m-sm.et_pb_section,
.m-sm.et_pb_column,
.m-sm.et_pb_blurb,
.m-sm.et_pb_image,
.m-sm.et_pb_accordion_item,
.m-sm.et_pb_audio_module_content,
.m-sm.et_pb_module_header {
  margin: var(--spacing-sm) !important;
}

h1.m-md,
h2.m-md,
h3.m-md,
h4.m-md,
h5.m-md,
h6.m-md,
p.m-md,
.m-md.et_pb_button,
.m-md.et_pb_text,
.m-md.et_pb_row,
.m-md.et_pb_section,
.m-md.et_pb_column,
.m-md.et_pb_blurb,
.m-md.et_pb_image,
.m-md.et_pb_accordion_item,
.m-md.et_pb_audio_module_content,
.m-md.et_pb_module_header {
  margin: var(--spacing-md) !important;
}

h1.m-lg,
h2.m-lg,
h3.m-lg,
h4.m-lg,
h5.m-lg,
h6.m-lg,
p.m-lg,
.m-lg.et_pb_button,
.m-lg.et_pb_text,
.m-lg.et_pb_row,
.m-lg.et_pb_section,
.m-lg.et_pb_column,
.m-lg.et_pb_blurb,
.m-lg.et_pb_image,
.m-lg.et_pb_accordion_item,
.m-lg.et_pb_audio_module_content,
.m-lg.et_pb_module_header {
  margin: var(--spacing-lg) !important;
}

h1.m-xl,
h2.m-xl,
h3.m-xl,
h4.m-xl,
h5.m-xl,
h6.m-xl,
p.m-xl,
.m-xl.et_pb_button,
.m-xl.et_pb_text,
.m-xl.et_pb_row,
.m-xl.et_pb_section,
.m-xl.et_pb_column,
.m-xl.et_pb_blurb,
.m-xl.et_pb_image,
.m-xl.et_pb_accordion_item,
.m-xl.et_pb_audio_module_content,
.m-xl.et_pb_module_header {
  margin: var(--spacing-xl) !important;
}

h1.m-2xl,
h2.m-2xl,
h3.m-2xl,
h4.m-2xl,
h5.m-2xl,
h6.m-2xl,
p.m-2xl,
.m-2xl.et_pb_button,
.m-2xl.et_pb_text,
.m-2xl.et_pb_row,
.m-2xl.et_pb_section,
.m-2xl.et_pb_column,
.m-2xl.et_pb_blurb,
.m-2xl.et_pb_image,
.m-2xl.et_pb_accordion_item,
.m-2xl.et_pb_audio_module_content,
.m-2xl.et_pb_module_header {
  margin: var(--spacing-2xl) !important;
}

h1.m-3xl,
h2.m-3xl,
h3.m-3xl,
h4.m-3xl,
h5.m-3xl,
h6.m-3xl,
p.m-3xl,
.m-3xl.et_pb_button,
.m-3xl.et_pb_text,
.m-3xl.et_pb_row,
.m-3xl.et_pb_section,
.m-3xl.et_pb_column,
.m-3xl.et_pb_blurb,
.m-3xl.et_pb_image,
.m-3xl.et_pb_accordion_item,
.m-3xl.et_pb_audio_module_content,
.m-3xl.et_pb_module_header {
  margin: var(--spacing-3xl) !important;
}

/* Margin Right */

h1.mr-none,
h2.mr-none,
h3.mr-none,
h4.mr-none,
h5.mr-none,
h6.mr-none,
p.mr-none,
.mr-none.et_pb_button,
.mr-none.et_pb_text,
.mr-none.et_pb_row,
.mr-none.et_pb_section,
.mr-none.et_pb_column,
.mr-none.et_pb_blurb,
.mr-none.et_pb_image,
.mr-none.et_pb_accordion_item,
.mr-none.et_pb_audio_module_content,
.mr-none.et_pb_module_header {
  margin-right: var(--spacing-none) !important;
}

h1.mr-xs,
h2.mr-xs,
h3.mr-xs,
h4.mr-xs,
h5.mr-xs,
h6.mr-xs,
p.mr-xs,
.mr-xs.et_pb_button,
.mr-xs.et_pb_text,
.mr-xs.et_pb_row,
.mr-xs.et_pb_section,
.mr-xs.et_pb_column,
.mr-xs.et_pb_blurb,
.mr-xs.et_pb_image,
.mr-xs.et_pb_accordion_item,
.mr-xs.et_pb_audio_module_content,
.mr-xs.et_pb_module_header {
  margin-right: var(--spacing-xs) !important;
}

h1.mr-sm,
h2.mr-sm,
h3.mr-sm,
h4.mr-sm,
h5.mr-sm,
h6.mr-sm,
p.mr-sm,
.mr-sm.et_pb_button,
.mr-sm.et_pb_text,
.mr-sm.et_pb_row,
.mr-sm.et_pb_section,
.mr-sm.et_pb_column,
.mr-sm.et_pb_blurb,
.mr-sm.et_pb_image,
.mr-sm.et_pb_accordion_item,
.mr-sm.et_pb_audio_module_content,
.mr-sm.et_pb_module_header {
  margin-right: var(--spacing-sm) !important;
}

h1.mr-md,
h2.mr-md,
h3.mr-md,
h4.mr-md,
h5.mr-md,
h6.mr-md,
p.mr-md,
.mr-md.et_pb_button,
.mr-md.et_pb_text,
.mr-md.et_pb_row,
.mr-md.et_pb_section,
.mr-md.et_pb_column,
.mr-md.et_pb_blurb,
.mr-md.et_pb_image,
.mr-md.et_pb_accordion_item,
.mr-md.et_pb_audio_module_content,
.mr-md.et_pb_module_header {
  margin-right: var(--spacing-md) !important;
}

h1.mr-lg,
h2.mr-lg,
h3.mr-lg,
h4.mr-lg,
h5.mr-lg,
h6.mr-lg,
p.mr-lg,
.mr-lg.et_pb_button,
.mr-lg.et_pb_text,
.mr-lg.et_pb_row,
.mr-lg.et_pb_section,
.mr-lg.et_pb_column,
.mr-lg.et_pb_blurb,
.mr-lg.et_pb_image,
.mr-lg.et_pb_accordion_item,
.mr-lg.et_pb_audio_module_content,
.mr-lg.et_pb_module_header {
  margin-right: var(--spacing-lg) !important;
}

h1.mr-xl,
h2.mr-xl,
h3.mr-xl,
h4.mr-xl,
h5.mr-xl,
h6.mr-xl,
p.mr-xl,
.mr-xl.et_pb_button,
.mr-xl.et_pb_text,
.mr-xl.et_pb_row,
.mr-xl.et_pb_section,
.mr-xl.et_pb_column,
.mr-xl.et_pb_blurb,
.mr-xl.et_pb_image,
.mr-xl.et_pb_accordion_item,
.mr-xl.et_pb_audio_module_content,
.mr-xl.et_pb_module_header {
  margin-right: var(--spacing-xl) !important;
}

h1.mr-2xl,
h2.mr-2xl,
h3.mr-2xl,
h4.mr-2xl,
h5.mr-2xl,
h6.mr-2xl,
p.mr-2xl,
.mr-2xl.et_pb_button,
.mr-2xl.et_pb_text,
.mr-2xl.et_pb_row,
.mr-2xl.et_pb_section,
.mr-2xl.et_pb_column,
.mr-2xl.et_pb_blurb,
.mr-2xl.et_pb_image,
.mr-2xl.et_pb_accordion_item,
.mr-2xl.et_pb_audio_module_content,
.mr-2xl.et_pb_module_header {
  margin-right: var(--spacing-2xl) !important;
}

h1.mr-3xl,
h2.mr-3xl,
h3.mr-3xl,
h4.mr-3xl,
h5.mr-3xl,
h6.mr-3xl,
p.mr-3xl,
.mr-3xl.et_pb_button,
.mr-3xl.et_pb_text,
.mr-3xl.et_pb_row,
.mr-3xl.et_pb_section,
.mr-3xl.et_pb_column,
.mr-3xl.et_pb_blurb,
.mr-3xl.et_pb_image,
.mr-3xl.et_pb_accordion_item,
.mr-3xl.et_pb_audio_module_content,
.mr-3xl.et_pb_module_header {
  margin-right: var(--spacing-3xl) !important;
}

/* Margin Bottom */

h1.mb-none,
h2.mb-none,
h3.mb-none,
h4.mb-none,
h5.mb-none,
h6.mb-none,
p.mb-none,
.mb-none.et_pb_button,
.mb-none.et_pb_text,
.mb-none.et_pb_row,
.mb-none.et_pb_section,
.mb-none.et_pb_column,
.mb-none.et_pb_blurb,
.mb-none.et_pb_image,
.mb-none.et_pb_accordion_item,
.mb-none.et_pb_audio_module_content,
.mb-none.et_pb_module_header {
  margin-bottom: var(--spacing-none) !important;
}

h1.mb-xs,
h2.mb-xs,
h3.mb-xs,
h4.mb-xs,
h5.mb-xs,
h6.mb-xs,
p.mb-xs,
.mb-xs.et_pb_button,
.mb-xs.et_pb_text,
.mb-xs.et_pb_row,
.mb-xs.et_pb_section,
.mb-xs.et_pb_column,
.mb-xs.et_pb_blurb,
.mb-xs.et_pb_image,
.mb-xs.et_pb_accordion_item,
.mb-xs.et_pb_audio_module_content,
.mb-xs.et_pb_module_header {
  margin-bottom: var(--spacing-xs) !important;
}

h1.mb-sm,
h2.mb-sm,
h3.mb-sm,
h4.mb-sm,
h5.mb-sm,
h6.mb-sm,
p.mb-sm,
.mb-sm.et_pb_button,
.mb-sm.et_pb_text,
.mb-sm.et_pb_row,
.mb-sm.et_pb_section,
.mb-sm.et_pb_column,
.mb-sm.et_pb_blurb,
.mb-sm.et_pb_image,
.mb-sm.et_pb_accordion_item,
.mb-sm.et_pb_audio_module_content,
.mb-sm.et_pb_module_header {
  margin-bottom: var(--spacing-sm) !important;
}

h1.mb-md,
h2.mb-md,
h3.mb-md,
h4.mb-md,
h5.mb-md,
h6.mb-md,
p.mb-md,
.mb-md.et_pb_button,
.mb-md.et_pb_text,
.mb-md.et_pb_row,
.mb-md.et_pb_section,
.mb-md.et_pb_column,
.mb-md.et_pb_blurb,
.mb-md.et_pb_image,
.mb-md.et_pb_accordion_item,
.mb-md.et_pb_audio_module_content,
.mb-md.et_pb_module_header {
  margin-bottom: var(--spacing-md) !important;
}

h1.mb-lg,
h2.mb-lg,
h3.mb-lg,
h4.mb-lg,
h5.mb-lg,
h6.mb-lg,
p.mb-lg,
.mb-lg.et_pb_button,
.mb-lg.et_pb_text,
.mb-lg.et_pb_row,
.mb-lg.et_pb_section,
.mb-lg.et_pb_column,
.mb-lg.et_pb_blurb,
.mb-lg.et_pb_image,
.mb-lg.et_pb_accordion_item,
.mb-lg.et_pb_audio_module_content,
.mb-lg.et_pb_module_header {
  margin-bottom: var(--spacing-lg) !important;
}

h1.mb-xl,
h2.mb-xl,
h3.mb-xl,
h4.mb-xl,
h5.mb-xl,
h6.mb-xl,
p.mb-xl,
.mb-xl.et_pb_button,
.mb-xl.et_pb_text,
.mb-xl.et_pb_row,
.mb-xl.et_pb_section,
.mb-xl.et_pb_column,
.mb-xl.et_pb_blurb,
.mb-xl.et_pb_image,
.mb-xl.et_pb_accordion_item,
.mb-xl.et_pb_audio_module_content,
.mb-xl.et_pb_module_header {
  margin-bottom: var(--spacing-xl) !important;
}

h1.mb-2xl,
h2.mb-2xl,
h3.mb-2xl,
h4.mb-2xl,
h5.mb-2xl,
h6.mb-2xl,
p.mb-2xl,
.mb-2xl.et_pb_button,
.mb-2xl.et_pb_text,
.mb-2xl.et_pb_row,
.mb-2xl.et_pb_section,
.mb-2xl.et_pb_column,
.mb-2xl.et_pb_blurb,
.mb-2xl.et_pb_image,
.mb-2xl.et_pb_accordion_item,
.mb-2xl.et_pb_audio_module_content,
.mb-2xl.et_pb_module_header {
  margin-bottom: var(--spacing-2xl) !important;
}

h1.mb-3xl,
h2.mb-3xl,
h3.mb-3xl,
h4.mb-3xl,
h5.mb-3xl,
h6.mb-3xl,
p.mb-3xl,
.mb-3xl.et_pb_button,
.mb-3xl.et_pb_text,
.mb-3xl.et_pb_row,
.mb-3xl.et_pb_section,
.mb-3xl.et_pb_column,
.mb-3xl.et_pb_blurb,
.mb-3xl.et_pb_image,
.mb-3xl.et_pb_accordion_item,
.mb-3xl.et_pb_audio_module_content,
.mb-3xl.et_pb_module_header {
  margin-bottom: var(--spacing-3xl) !important;
}

/* Margin Left */

h1.ml-none,
h2.ml-none,
h3.ml-none,
h4.ml-none,
h5.ml-none,
h6.ml-none,
p.ml-none,
.ml-none.et_pb_button,
.ml-none.et_pb_text,
.ml-none.et_pb_row,
.ml-none.et_pb_section,
.ml-none.et_pb_column,
.ml-none.et_pb_blurb,
.ml-none.et_pb_image,
.ml-none.et_pb_accordion_item,
.ml-none.et_pb_audio_module_content,
.ml-none.et_pb_module_header {
  margin-left: var(--spacing-none) !important;
}

h1.ml-xs,
h2.ml-xs,
h3.ml-xs,
h4.ml-xs,
h5.ml-xs,
h6.ml-xs,
p.ml-xs,
.ml-xs.et_pb_button,
.ml-xs.et_pb_text,
.ml-xs.et_pb_row,
.ml-xs.et_pb_section,
.ml-xs.et_pb_column,
.ml-xs.et_pb_blurb,
.ml-xs.et_pb_image,
.ml-xs.et_pb_accordion_item,
.ml-xs.et_pb_audio_module_content,
.ml-xs.et_pb_module_header {
  margin-left: var(--spacing-xs) !important;
}

h1.ml-sm,
h2.ml-sm,
h3.ml-sm,
h4.ml-sm,
h5.ml-sm,
h6.ml-sm,
p.ml-sm,
.ml-sm.et_pb_button,
.ml-sm.et_pb_text,
.ml-sm.et_pb_row,
.ml-sm.et_pb_section,
.ml-sm.et_pb_column,
.ml-sm.et_pb_blurb,
.ml-sm.et_pb_image,
.ml-sm.et_pb_accordion_item,
.ml-sm.et_pb_audio_module_content,
.ml-sm.et_pb_module_header {
  margin-left: var(--spacing-sm) !important;
}

h1.ml-md,
h2.ml-md,
h3.ml-md,
h4.ml-md,
h5.ml-md,
h6.ml-md,
p.ml-md,
.ml-md.et_pb_button,
.ml-md.et_pb_text,
.ml-md.et_pb_row,
.ml-md.et_pb_section,
.ml-md.et_pb_column,
.ml-md.et_pb_blurb,
.ml-md.et_pb_image,
.ml-md.et_pb_accordion_item,
.ml-md.et_pb_audio_module_content,
.ml-md.et_pb_module_header {
  margin-left: var(--spacing-md) !important;
}

h1.ml-lg,
h2.ml-lg,
h3.ml-lg,
h4.ml-lg,
h5.ml-lg,
h6.ml-lg,
p.ml-lg,
.ml-lg.et_pb_button,
.ml-lg.et_pb_text,
.ml-lg.et_pb_row,
.ml-lg.et_pb_section,
.ml-lg.et_pb_column,
.ml-lg.et_pb_blurb,
.ml-lg.et_pb_image,
.ml-lg.et_pb_accordion_item,
.ml-lg.et_pb_audio_module_content,
.ml-lg.et_pb_module_header {
  margin-left: var(--spacing-lg) !important;
}

h1.ml-xl,
h2.ml-xl,
h3.ml-xl,
h4.ml-xl,
h5.ml-xl,
h6.ml-xl,
p.ml-xl,
.ml-xl.et_pb_button,
.ml-xl.et_pb_text,
.ml-xl.et_pb_row,
.ml-xl.et_pb_section,
.ml-xl.et_pb_column,
.ml-xl.et_pb_blurb,
.ml-xl.et_pb_image,
.ml-xl.et_pb_accordion_item,
.ml-xl.et_pb_audio_module_content,
.ml-xl.et_pb_module_header {
  margin-left: var(--spacing-xl) !important;
}

h1.ml-2xl,
h2.ml-2xl,
h3.ml-2xl,
h4.ml-2xl,
h5.ml-2xl,
h6.ml-2xl,
p.ml-2xl,
.ml-2xl.et_pb_button,
.ml-2xl.et_pb_text,
.ml-2xl.et_pb_row,
.ml-2xl.et_pb_section,
.ml-2xl.et_pb_column,
.ml-2xl.et_pb_blurb,
.ml-2xl.et_pb_image,
.ml-2xl.et_pb_accordion_item,
.ml-2xl.et_pb_audio_module_content,
.ml-2xl.et_pb_module_header {
  margin-left: var(--spacing-2xl) !important;
}

h1.ml-3xl,
h2.ml-3xl,
h3.ml-3xl,
h4.ml-3xl,
h5.ml-3xl,
h6.ml-3xl,
p.ml-3xl,
.ml-3xl.et_pb_button,
.ml-3xl.et_pb_text,
.ml-3xl.et_pb_row,
.ml-3xl.et_pb_section,
.ml-3xl.et_pb_column,
.ml-3xl.et_pb_blurb,
.ml-3xl.et_pb_image,
.ml-3xl.et_pb_accordion_item,
.ml-3xl.et_pb_audio_module_content,
.ml-3xl.et_pb_module_header {
  margin-left: var(--spacing-3xl) !important;
}

/* Margin Top */

h1.mt-none,
h2.mt-none,
h3.mt-none,
h4.mt-none,
h5.mt-none,
h6.mt-none,
p.mt-none,
.mt-none.et_pb_button,
.mt-none.et_pb_text,
.mt-none.et_pb_row,
.mt-none.et_pb_section,
.mt-none.et_pb_column,
.mt-none.et_pb_blurb,
.mt-none.et_pb_image,
.mt-none.et_pb_accordion_item,
.mt-none.et_pb_audio_module_content,
.mt-none.et_pb_module_header {
  margin-top: var(--spacing-none) !important;
}

h1.mt-xs,
h2.mt-xs,
h3.mt-xs,
h4.mt-xs,
h5.mt-xs,
h6.mt-xs,
p.mt-xs,
.mt-xs.et_pb_button,
.mt-xs.et_pb_text,
.mt-xs.et_pb_row,
.mt-xs.et_pb_section,
.mt-xs.et_pb_column,
.mt-xs.et_pb_blurb,
.mt-xs.et_pb_image,
.mt-xs.et_pb_accordion_item,
.mt-xs.et_pb_audio_module_content,
.mt-xs.et_pb_module_header {
  margin-top: var(--spacing-xs) !important;
}

h1.mt-sm,
h2.mt-sm,
h3.mt-sm,
h4.mt-sm,
h5.mt-sm,
h6.mt-sm,
p.mt-sm,
.mt-sm.et_pb_button,
.mt-sm.et_pb_text,
.mt-sm.et_pb_row,
.mt-sm.et_pb_section,
.mt-sm.et_pb_column,
.mt-sm.et_pb_blurb,
.mt-sm.et_pb_image,
.mt-sm.et_pb_accordion_item,
.mt-sm.et_pb_audio_module_content,
.mt-sm.et_pb_module_header {
  margin-top: var(--spacing-sm) !important;
}

h1.mt-md,
h2.mt-md,
h3.mt-md,
h4.mt-md,
h5.mt-md,
h6.mt-md,
p.mt-md,
.mt-md.et_pb_button,
.mt-md.et_pb_text,
.mt-md.et_pb_row,
.mt-md.et_pb_section,
.mt-md.et_pb_column,
.mt-md.et_pb_blurb,
.mt-md.et_pb_image,
.mt-md.et_pb_accordion_item,
.mt-md.et_pb_audio_module_content,
.mt-md.et_pb_module_header {
  margin-top: var(--spacing-md) !important;
}

h1.mt-lg,
h2.mt-lg,
h3.mt-lg,
h4.mt-lg,
h5.mt-lg,
h6.mt-lg,
p.mt-lg,
.mt-lg.et_pb_button,
.mt-lg.et_pb_text,
.mt-lg.et_pb_row,
.mt-lg.et_pb_section,
.mt-lg.et_pb_column,
.mt-lg.et_pb_blurb,
.mt-lg.et_pb_image,
.mt-lg.et_pb_accordion_item,
.mt-lg.et_pb_audio_module_content,
.mt-lg.et_pb_module_header {
  margin-top: var(--spacing-lg) !important;
}

h1.mt-xl,
h2.mt-xl,
h3.mt-xl,
h4.mt-xl,
h5.mt-xl,
h6.mt-xl,
p.mt-xl,
.mt-xl.et_pb_button,
.mt-xl.et_pb_text,
.mt-xl.et_pb_row,
.mt-xl.et_pb_section,
.mt-xl.et_pb_column,
.mt-xl.et_pb_blurb,
.mt-xl.et_pb_image,
.mt-xl.et_pb_accordion_item,
.mt-xl.et_pb_audio_module_content,
.mt-xl.et_pb_module_header {
  margin-top: var(--spacing-xl) !important;
}

h1.mt-2xl,
h2.mt-2xl,
h3.mt-2xl,
h4.mt-2xl,
h5.mt-2xl,
h6.mt-2xl,
p.mt-2xl,
.mt-2xl.et_pb_button,
.mt-2xl.et_pb_text,
.mt-2xl.et_pb_row,
.mt-2xl.et_pb_section,
.mt-2xl.et_pb_column,
.mt-2xl.et_pb_blurb,
.mt-2xl.et_pb_image,
.mt-2xl.et_pb_accordion_item,
.mt-2xl.et_pb_audio_module_content,
.mt-2xl.et_pb_module_header {
  margin-top: var(--spacing-2xl) !important;
}

h1.mt-3xl,
h2.mt-3xl,
h3.mt-3xl,
h4.mt-3xl,
h5.mt-3xl,
h6.mt-3xl,
p.mt-3xl,
.mt-3xl.et_pb_button,
.mt-3xl.et_pb_text,
.mt-3xl.et_pb_row,
.mt-3xl.et_pb_section,
.mt-3xl.et_pb_column,
.mt-3xl.et_pb_blurb,
.mt-3xl.et_pb_image,
.mt-3xl.et_pb_accordion_item,
.mt-3xl.et_pb_audio_module_content,
.mt-3xl.et_pb_module_header {
  margin-top: var(--spacing-3xl) !important;
}
