/* Heading Text */

.hd-xs h1,
.hd-xs h2,
.hd-xs h3,
.hd-xs h4,
.hd-xs h5,
.hd-xs h6,
.hd-xs.et_pb_module_header,
.hd-xs.et_pb_toggle_title {
  font-size: var(--font-xs) !important;
  line-height: var(--lineheight-xs) !important;
}

.hd-sm h1,
.hd-sm h2,
.hd-sm h3,
.hd-sm h4,
.hd-sm h5,
.hd-sm h6,
.hd-sm.et_pb_module_header,
.hd-sm.et_pb_toggle_title {
  font-size: var(--font-sm) !important;
  line-height: var(--lineheight-sm) !important;
}

.hd-md h1,
.hd-md h2,
.hd-md h3,
.hd-md h4,
.hd-md h5,
.hd-md h6,
.hd-md.et_pb_module_header,
.hd-md.et_pb_toggle_title {
  font-size: var(--font-md) !important;
  line-height: var(--lineheight-md) !important;
}

.hd-lg h1,
.hd-lg h2,
.hd-lg h3,
.hd-lg h4,
.hd-lg h5,
.hd-lg h6,
.hd-lg.et_pb_module_header,
.hd-lg.et_pb_toggle_title {
  font-size: var(--font-lg) !important;
  line-height: var(--lineheight-lg) !important;
}

.hd-xl h1,
.hd-xl h2,
.hd-xl h3,
.hd-xl h4,
.hd-xl h5,
.hd-xl h6,
.hd-xl.et_pb_module_header,
.hd-xl.et_pb_toggle_title {
  font-size: var(--font-xl) !important;
  line-height: var(--lineheight-xl) !important;
}

.hd-2xl h1,
.hd-2xl h2,
.hd-2xl h3,
.hd-2xl h4,
.hd-2xl h5,
.hd-2xl h6,
.hd-2xl.et_pb_module_header,
.hd-2xl.et_pb_toggle_title {
  font-size: var(--font-2xl) !important;
  line-height: var(--lineheight-2xl) !important;
}

.hd-3xl h1,
.hd-3xl h2,
.hd-3xl h3,
.hd-3xl h4,
.hd-3xl h5,
.hd-3xl h6,
.hd-3xl.et_pb_module_header,
.hd-3xl.et_pb_toggle_title {
  font-size: var(--font-3xl) !important;
  line-height: var(--lineheight-3xl) !important;
}

/* Paragraph text & Button */

.tx-xs p,
.tx-xs.et_pb_button,
.tx-xs.et_pb_blurb_description,
.tx-xs.et_pb_toggle_content,
.tx-xs.et_audio_module_meta {
  font-size: var(--font-xs) !important;
  line-height: var(--lineheight-xs) !important;
}

.tx-sm p,
.tx-sm.et_pb_button,
.tx-sm.et_pb_blurb_description,
.tx-sm.et_pb_toggle_content,
.tx-sm.et_audio_module_meta {
  font-size: var(--font-sm) !important;
  line-height: var(--lineheight-sm) !important;
}

.tx-md p,
.tx-md.et_pb_button,
.tx-md.et_pb_blurb_description,
.tx-md.et_pb_toggle_content,
.tx-md.et_audio_module_meta {
  font-size: var(--font-md) !important;
  line-height: var(--lineheight-md) !important;
}

.tx-lg p,
.tx-lg.et_pb_button,
.tx-lg.et_pb_blurb_description,
.tx-lg.et_pb_toggle_content,
.tx-lg.et_audio_module_meta {
  font-size: var(--font-lg) !important;
  line-height: var(--lineheight-lg) !important;
}

.tx-xl p,
.tx-xl.et_pb_button,
.tx-xl.et_pb_blurb_description,
.tx-xl.et_pb_toggle_content,
.tx-xl.et_audio_module_meta {
  font-size: var(--font-xl) !important;
  line-height: var(--lineheight-xl) !important;
}

.tx-2xl p,
.tx-2xl.et_pb_button,
.tx-2xl.et_pb_blurb_description,
.tx-2xl.et_pb_toggle_content,
.tx-2xl.et_audio_module_meta {
  font-size: var(--font-2xl) !important;
  line-height: var(--lineheight-2xl) !important;
}

.tx-3xl p,
.tx-3xl.et_pb_button,
.tx-3xl.et_pb_blurb_description,
.tx-3xl.et_pb_toggle_content,
.tx-3xl.et_audio_module_meta {
  font-size: var(--font-3xl) !important;
  line-height: var(--lineheight-3xl) !important;
}

/* Font weight */

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6,
.light p,
.light.et_pb_button {
  font-weight: 300;
}

.normal h1,
.normal h2,
.normal h3,
.normal h4,
.normal h5,
.normal h6,
.normal p,
.normal.et_pb_button {
  font-weight: 400;
}

.medium h1,
.medium h2,
.medium h3,
.medium h4,
.medium h5,
.medium h6,
.medium p,
.medium.et_pb_button {
  font-weight: 500;
}

.semibold h1,
.semibold h2,
.semibold h3,
.semibold h4,
.semibold h5,
.semibold h6,
.semibold p,
.semibold.et_pb_button {
  font-weight: 600;
}

.bold h1,
.bold h2,
.bold h3,
.bold h4,
.bold h5,
.bold h6,
.bold p,
.bold.et_pb_button {
  font-weight: 700;
}

.extrabold h1,
.extrabold h2,
.extrabold h3,
.extrabold h4,
.extrabold h5,
.extrabold h6,
.extrabold p,
.extrabold.et_pb_button {
  font-weight: 800;
}

.black h1,
.black h2,
.black h3,
.black h4,
.black h5,
.black h6,
.black p,
.black.et_pb_button {
  font-weight: 900;
}

/* heading bold */

/* paragraph bold */

/* text uppercase */

.upper.et_pb_text,
.upper.et_pb_button {
  text-transform: uppercase;
}
